<app-navbar></app-navbar>
<section class="bg-secondary" id="account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 action-section">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-4 d-none d-md-block img-section">
                <img src="../../../assets/images/jodyhongfilms-sI1mbxJFFpU-unsplash.jpg" class="img-fluid" alt="account image">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>