<section class="bg-white p-3">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row text-body">
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase text-body">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase text-body">Studies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase text-body">Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase text-body">Social Media</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase text-body">FAQ</a>
        </li>
    </ul>
</section>