@import "../../../scss/variables";

/*----------------------- Navbar css starts ----------------------*/
.navbar-fixed-top {
	position:fixed !important;
}

/* small screens */
nav {
	@include XS {
		width: 100%;	
		background-color: #8c8b8b;
		transition: 0.2s;
		z-index: 3;

		.nav-white {
			background-color: $white;
			transition: all 0.2s;
			padding-bottom: 40px;
		}
		
		.navbar-brand {
			height: 45px;
			width: auto;
            opacity: 1;
		}
			
		.logoCollapsed {
			background-color: $black;
			height: 50px;
			width: auto;
			margin-top: -5px;
			opacity: 1;
		}

		.nav-link {
			font: normal 600 70%/32px 'Muli', 'Arial', sans-serif;
			text-decoration: none;
			outline: none;
			color: $white;
			text-transform: uppercase;
			opacity: 1;
		}

		.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited{
			color: $white;
			transition: border 0.2s;
			border-bottom: 2px solid $primary;
		}

		.linkcolor{
			color: $black !important;
		}

		.active {
			color: $white;
			transition: border 0.2s;
			border-bottom: 2px solid $primary;
		}
			
		.btn-ghost-collapsed{
			position:relative;
			border-radius: 1px;
			height: auto;
			-webkit-transition:0.2s all;
			transition:0.2s all;
		}

		.btn-ghost-collapsed:hover{
			color: $white;
			padding-right: 45px;
			transition: all 0.3s;
		}

		.btn-ghost-collapsed:after {
			content:"\f178";
			font-family:FontAwesome;
			position:absolute;
			width: 25px;
			right: 10px;
			text-align:center;
			color: $white;
			opacity:0;
			-webkit-transition:0.2s all;
			transition:0.2s all;
		}

		.btn-ghost-collapsed:hover:after{
			opacity:1;
			transition: 0.5s;
		}
		
		.btn-primary{
			border: 1px solid $primary;
			color: $white;
			border-radius: 9px;
			margin-top: 5px;
			-webkit-transition:0.2s all;
			transition:0.2s all;
            background-color: $primary !important;
            cursor: pointer;
		}

	@include XS-MD {
		.nav-link:hover {
			border-bottom: none;
		}

		.logo {
			height: 60px;
            width: auto ;
            padding-bottom: 10px;
		}

		.nav-white {
			background-color: $white;
			transition: all 0.2s;
			padding-bottom: 30px;
			margin-left: -20px;
			padding-left: 8px;
			margin-top: -10px;
			padding-top: 9px;
		}

		.btn-ghost-collapsed.profile-btn{
			width: 25%;
		}

		.nav-link.profile-btn:visited {
			color: $black;
		}

		.profile-btn:hover{
			width: 60px !important;
			padding-right: 70px !important;
		}
	
		.btn-ghost-collapsed.profile-btn:hover{
			color: $white !important;
			width: 95% !important;
			padding-right: 65px !important;
			transition: all 0.3s !important;
		}
	}

	@include MD-LG {
		.nav-white {
			background-color: $white;
			transition: all 0.2s;
			padding-bottom: 30px;
			margin-left: -20px;
			padding-left: 8px;
			margin-top: -10px;
			padding-top: 9px;
		}

		.logo {
			height: 60px;
            width: auto;
            padding-bottom: 10px;
		}
		
		.btn-ghost-collapsed.profile-btn{
			width: 25% !important;
		}

		.nav-link.profile-btn:visited {
			color: $black;
		}

		.profile-btn:hover{
			width: 60px !important;
			padding-right: 70px !important;
		}
	
		.btn-ghost-collapsed.profile-btn:hover{
			color: $white !important;
			width: 95% !important;
			padding-right: 65px !important;
			transition: all 0.3s !important;
		}

	}

	@include LG {
		.logo {
			height: 60px;
            width: auto ;
            padding-bottom: 10px;
		}

		.btn-ghost-collapsed{
			margin-top: 0;
			min-width: 60% ;
		}
	
		.btn-ghost-collapsed:hover{
			width: 55% ;
			padding-right: 65px;
		}

	}
}
}
